$color-background: #dbf0ef;
$color-background-2: #accfca;

$color-main-1: #ebf7f3;
$color-main-2: #00bd89;
$color-main-2-opacity: rgb(15, 140, 104);

$color-secondary-1: #f0f4f6;
$color-secondary-2: #bbc2c2;

$color-font-main: #2d4047;
$color-font-secondary: $color-secondary-2;
$color-font-alt-1: #7c8989;

$color-font-wrong: #f01818;

$white: #ffffff;

$font-main: "Noto Sans", sans-serif;
